<h1>We Care About You</h1>

<p>Auto Repair Center, Inc. is a 10-bay auto repair, 
	family owned and operated business, founded in 1981 by 
	Teddy and Wise Chen. Many things have changed since our humble beginnings, 
	but our dedication to quality service is a constant that our customers have 
	come to rely on over the years. For thirty years and ongoing, ARC continuously 
	provides the Houston Area with the highest quality auto repair services at the lowest prices, 
	and that's a guarantee.</p>
