<h1 id="leftTitle">Contact Us</h1>

<p id="show">
Mon-Fri    8 AM to 6 PM<br/>
Sat           8 AM to 12 PM<br/>
Sun                   CLOSED <br />
Phone: 210-123-4567<br />
Email: rzhou@cs.utsa.edu
</p>

<%= link_to 'Home', root_path %> | 
<%= link_to "Submit A Review", new_review_path %> | 
<%= link_to "About", about_path %> | 
<%= link_to "Help", help_path %>