/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
	background: url("http://www.xda-wallpapers.com/var/albums/Wallpapers/1920x1200/auto,%20black,%20trident..jpg?m=1298959200");
	background-size: 100%;
}

#centerTitle{
	width: 100%;
	text-align: center;
	color: #A00000;
	margin-bottom: 60px;
}

#leftTitle{
	width: 100%;
	color: #A00000;
}

#linkDIV{
	float: left;
}

a {
color: #0099CC;
font-weight: bolder;
font-size:larger;
text-decoration: underline;
}

a:hover {
color: #006699;
font-weight: bold;
text-decoration: underline;
}

a:visited {
color: #FF0000;
text-decoration: underline;
}